#gameContainer {
    display:grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 300px;
    height: 300px;
    
}

.gameCell {
    width: 100px;
    height: 100px;
    border: solid red 2px;
}
